body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    min-height: 100vh;
}

#typing_prompt{
    margin: 0.5em;

    display: flex;
    justify-content: center;
}

#call_book_api{
    color: #fff;
    background: #419985; # green

    cursor: pointer; # on hover
    text-decoration: none; # remove underline

    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 0.5em;

    display: flex;
    justify-content: center;
}