<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/prompt.css">
    <title>Prompt</title>
</head>
<body>
    <div class="container">
        <p id="typing_prompt">Press the button below to get a random book.</p>
        <button id="btn_get_random_book_call">Get Random Book</button>
        <p id="status">Status Code</p>
        <p id="book_information">Search Results go here!</p>
    </div>
    <script type="module" src="static/books_api.js"></script>
    <script type="module" src="static/ui_handler.js"></script>
    <script type="module" src="static/typing_prompt.js"></script>
</body>
</html>