<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/prompt.css">
    <title>Prompt</title>
</head>
<body>
    <div class="container">
        <p >Press the button below to generate a typing prompt!</p>
        <a>Retrieve Prompt</a>
        <button onclick="book_handler.retrieve_book_data('OL7353617M')">Search</button>
        <p id="search_result">Search Results go here!</p>
    </div>
    <script src="static/typing_prompt.js"></script>
</body>
</html>