<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/prompt.css">
    <title>Prompt</title>
</head>
<body>
    <div class="container">
        <p id="typing_prompt">Press the button below to get a random book.</p>
        <button id="btn_get_random_book_call">Get Random Book</button>
        <p id="status">Status Code</p>
        <p id="book_information">Search Results go here!</p>
    </div>
        <div id="book_search_engine_container">
            <h3>🔎 Book Search Engine</h3>
            <input type="text" id="search_request" placeholder="Enter book title here" />
            <button id="btn_book_search">Submit</button>
            <p id="search_status"></p>
            <p id="search_result"></p>
        </div>
    <script type="module" src="static/js/web_display.js"></script>
    <script type="module" src="static/js/typing_prompt.js"></script>
</body>
</html>