.App {
  align-self: stretch;
  height: 100vh; /* Use full viewport height */
  padding: 0; /* Remove padding to avoid offset */
  background: linear-gradient(0deg, #E3E3E3 0%, #E3E3E3 100%);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  gap: 32px;
}

.title {
  align-self: stretch;
  text-align: center;
  color: #0C0C0D;
  font-size: 72px;
  font-weight: 700;
  line-height: 86.4px;
}

.subtitle {
  align-self: stretch;
  text-align: center;
  color: #0C0C0D;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
}

.main_block {
    align-self: stretch;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boss {
  text-align: center;
  height: 400px;
  width: 400px;
  display: flex; /* Ensure the image is centered inside the .boss div */
  justify-content: center;
  align-items: center;
}

.hp-bar {
    width: 166px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 12px;
    background: #009951;
    border-radius: 8px;
    border: 1px solid #2C2C2C;
    color: #F5F5F5;
    font-size: 16px;
}

#attack-button {
  width: 166px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 12px;
  background: #e7b350;
  border-radius: 8px;
  border: 1px solid #767676;
  color: #1E1E1E;
  font-size: 16px;
  cursor: pointer;
}

